#interactive
{
    max-width: none;
    height: 400px;
}
#pie
{
    max-width: none;
    height: 400px;
}
#barmonth
{
    max-width: none;
    height: 400px;
}
#baryear
{
    max-width: none;
    height: 400px;
}